<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Desmond Ukachi</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <table cellspacing="20">
            <tr>
                <td><img class="Passport circular" src="IMG-20250603-WA0046.jpg" width="200" alt="Passport"></td>
                <td><h1 id="heading">Desmond Ukachi</h1>
                <p>Studied Biochemistry at <strong><em>FUTO</em></strong></p>
                <p>I am a Frontend Developer</p></td>
            </tr>
        </table>
        <hr>
        <h3>Books and Teaching</h3>
        <ul>
            <li>The web Developer</li>
            <li>The web Designer</li>
        </ul>
        <hr>
        <h3>Work Experience</h3>
        <table cellspacing="20">
            <tr>
                <th>Dates</th>
                <th>Work</th>
            </tr>
            <td>2009-2010</td>
            <td>Researcher</td>
            <tr>
            <td>2010-2011</td>
            <td>Developer</td>
            </tr>
        </table>
        <hr>
        <h3>Skills</h3>
        <table cellspacing="20">
            <tr>
                <td>Web Development</td>
                <td>👍</td>
            </tr>
            <tr>
                <td>Programming</td>
                <td>👌</td>
            </tr>
        </table>
        <hr>
        <h3><a href="hobbies.html">My Hobbies</a></h3>
        <h3><a href="contact.html">My Contacts</a></h3>
    </body>
</html>